*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}

body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

h1 {
    /* background-color: crimson; */
    margin: 1rem;
    margin-top: 0px;
}

.container {
    width: 500px;
    height: 490px;
    /* background-color: aqua; */
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3 , 150px);
    gap: 15px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 300ms;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rotate {
    transform: rotate(90deg);
}